<div class="all">
    <h3>EDUCATION</h3>
        <ul style="color: black;font-weight: bolder; font-size: 20px">
             -Federal university of Agriculture, Abeokuta, Ogun state. (2015-2021).
                Qualification : Bachelor of Forestry and Wildlife Management (Forestry Option). Second class upper. (Hons).
        <br><br>
        -Federal science and technical college Yaba, Lagos. (2011-2014)
        Qualification : O levels
         </ul>
    <hr>


</div>

<div  style="color: black; font-size: 20px">
    <h3>WORK EXPERIRNCE</h3>
    <ul>
        <li class="ftd">Front-end Developer(Intern))
            <p> Bincom Dev center Lagos Nigeria</p>
            <p class="time"> 03/22 - present</p>
            <p class="tasks"> Achievements/Tasks</p>
            <ol>
                <li>Clone and maintenance of one of the companys live project.</li>
                <li>Maintaining and adding new features to an unfinished app.</li>
                <li>Reading and understanding codes.</li>
                <li>Attention to detail.</li>
                <li>Got familiar with Angular</li>
            </ol>

        </li>
    </ul>
</div>