<div class="all">
            
    <h3>SKILLS AND CERTIFICATION</h3>
    <ul style="color: black;font-weight: bolder; text-align: center; font-size: 20px">
        -Expert use of computer software such as Microsoft excels, word, PowerPoint.<br><br>
        -Use of corel draw for graphics design.<br><br>
        -Use of Webflow for web design.<br><br>
        -Great communications and organizing skills.<br><br>
        -Dependable and responsible.<br><br>
        -Hardworking.<br>
    </ul>
    <br><hr>
</div>