<div class="all">           
    <h1 style="text-align: center;color: rgba(163, 110, 13, 0.952);font-weight: bolder;">Ayangbade Michael Oluwamayowa</h1><hr>
     <div style="font-size: 20px">
       <p>Efficient recent university graduate with a upper second class honours in Forestry and Wildlife management. 
        With proven commuinication, critical thinking, and leadership skills, 
        Also a highly positive individual passionate about leveraging on my deep drive for creativity and dynamism
        to become a renowned and well-grounded front-end developer. Seeking to work in an organization where competitiveness and growth is the hallmark. Looking forward 
        to explore the field of software development.
      </p>
     <hr>
     </div>
   <div style="text-align: center; font-size: 20px">
     <br><p><b class="b">Age</b>: 24 Years</p>
     <p><b>Date of birth</b> : 31-01-1998</p>
     <p><b>Address</b> : Yaba, Lagos</p>
     <p><b>E-mail</b> :<a href="mailto:ayangbademichael@gmail.com">ayangbademichael@gmail.com</a></p>
     <p><b>Hobbies</b> : Designing, listening to music,playing video games</p>
     <p><b>Freelance</b> : Available</p>
     <p><b>Other specialities</b> : Fish farming, crypto enthusiast</p><br><hr>
   </div>
   <h3>INTEREST AND ACTIVITIES</h3>
    <ul style="color: black;font-weight: bolder; text-align: center;font-size: 20px">
        Sporting activities.<br><br>
        Intellectual and Self-development.<br><br>
        Designing.<br><br>
        Making research on new techniques and technology.
    </ul>
    <hr>

</div>